dist/
src/bin/
src/obj/
.godot/
.wrangler/
collector/node_modules/
collector/public/
syncer/node_modules/
telemetry/node_modules/
telemetry/.wrangler/
*.user
*.suo

# Tencent Cloud EdgeOne
.env
.edgeone/*
**/.edgeone/*
.tef_dist/*
  
